@import "tailwindcss";

body {
    overflow: hidden;
    height: 100dvh;
    width: 100vw;
    position: fixed;
    inset: 0;
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
    }
}